body {
  background-image: url(images/background.jpg);
  background-size: contain;
  display: flex;
  font-family: sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

.sidebar {
  background: rgba(0, 0, 0, 0.3);
  width: 30vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.sidebar__text {
  color: white;
  font-size: 6vw;
  align-self: center;
}

.main-form-container {
  width: 70vw;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.main-form-container__cta {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 3rem;
  height: 20vh;
  gap: 1rem;
  justify-content: flex-end;
}

.cta__text {
  margin: 0;
}

.main-form-container__form {
  background-color: white;
  padding: 3rem;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
}

.main-form-container__login {
  height: 10vh;
}
